<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>RPG Sandbox</title>
</head>

<body style="overflow: hidden;">
    <canvas id='canvas' style="position: absolute; top: 0px; left: 0px; z-index: 0;"></canvas>
    <div id="ui" style="display: none; position: absolute; top: 0px; left: 0px; z-index: 2; height: 100%; width: 100%;">
        <div id="menuBar" style="position: absolute; top: 0px; left: 0px; width: 100%; z-index: 4;"></div>
        <div id="editMapContainer" style="position: absolute; width: 100px; z-index: 3;"></div>
    </div>
    <div id='renderContainer' style="visibility: hidden;"></div>
    <div id='svgContainer' style="visibility: hidden;"></div>
    <script id="master" src="scripts/master.js"></script>
</body>

</html>