<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hex Grid</title>
</head>



<body style="overflow: hidden;">
    <div id="imageContainer" style="display: none;">
        <character name="Modern Girl 01" color="#ecd97f" outline="#467f94" size=".25">
            <img name="front" src="images/modern/girl01/front.png">
            <img name="back" src="images/modern/girl01/back.png">
            <img name="side" src="images/modern/girl01/side.png">
            <img name="threeQuartersFrontLeft" src="images/modern/girl01/threeQuartersFrontLeft.png">
            <img name="threeQuartersBackLeft" src="images/modern/girl01/threeQuartersBackLeft.png">
            <img name="threeQuartersFrontRight" src="images/modern/girl01/threeQuartersFrontRight.png">
            <img name="threeQuartersBackRight" src="images/modern/girl01/threeQuartersBackRight.png">
        </character>
        <character name="Modern Man 01" color="#dd5f60" outline="#626d4d" size=".25">
            <img name="front" src="images/modern/man01/front.png">
            <img name="back" src="images/modern/man01/back.png">
            <img name="left" src="images/modern/man01/left.png">
            <img name="right" src="images/modern/man01/right.png">
            <img name="threeQuartersFrontRight" src="images/modern/man01/threeQuartersFrontRight.png">
            <img name="threeQuartersFrontLeft" src="images/modern/man01/threeQuartersFrontLeft.png">
            <img name="threeQuartersBackRight" src="images/modern/man01/threeQuartersBackRight.png">
            <img name="threeQuartersBackLeft" src="images/modern/man01/threeQuartersBackLeft.png">
        </character>
        <character name="Creature 01" color="#bfa280" outline="#7c6a5c" size=".65">
            <img name="front" src="images/creature/creature01/front.png">
            <img name="back" src="images/creature/creature01/back.png">
            <img name="threeQuartersFrontRight" src="images/creature/creature01/threeQuartersFrontRight.png">
            <img name="threeQuartersFrontLeft" src="images/creature/creature01/threeQuartersFrontLeft.png">
            <img name="threeQuartersBackRight" src="images/creature/creature01/threeQuartersBackRight.png">
            <img name="threeQuartersBackLeft" src="images/creature/creature01/threeQuartersBackLeft.png">
        </character>
    </div>
    <canvas id='canvas'></canvas>
    <script type="text/javascript" src="/socket/socket.io.js"></script>
    <script src="./grid.js"></script>
</body>

</html>