<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPG Sandbox</title>
</head>
<body style="overflow: hidden;">
    <canvas id='canvas' style="position: absolute; top: 0px; left: 0px;"></canvas>
    <div id='renderContainer' style="visibility: hidden;"></div>
    <div id='svgContainer' style="visibility: hidden;"></div>
    <script id="master" src="scripts/master.js"></script>
</body>

</html>