<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hex Grid</title>
</head>



<body style="overflow: hidden;">
    <div id="imageContainer" style="display: none;">
        <character name="Golden Knight" color="blue">
            <img type="token" src="images/portrait_golden_knight.png">
            <img type="full" src="images/full_golden_knight.png">
        </character>
        <character name="Druid" color="green">
            <img type="token" src="images/portrait_druid.png">
            <img type="full" src="images/full_druid.png">
        </character>
    </div>
    <canvas id='canvas'></canvas>
    <script type="text/javascript" src="/socket/socket.io.js"></script>
    <script src="./grid.js"></script>
</body>

</html>