<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>RPG Sandbox</title>
</head>

<body style="overflow: hidden;">
    <canvas id='canvas'></canvas>
    <div id="ui" style="display: none;">
        <div id="menuBar"></div>
        <div id="editMapContainer"></div>
    </div>
    <div id='renderContainer' style="visibility: hidden;"></div>
    <div id='svgContainer' style="visibility: hidden;"></div>
    <script id="master" src="scripts/master.js"></script>
</body>

</html>