* {
    padding: 0px;
    margin: 0px;
    transition: all 0.5s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    transition-duration: .5;
    width: 80px;
    height: 35px;
    outline: 0;
    font-size: .75em;
    border-style: solid;
    border-width: 5px;
}

.active-button {
    height: 70px;
    font-weight: bold;
}


#ui {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    height: 100%;
    width: 100%;
}

#menuBar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 4;
}

#editMapContainer {
    position: absolute;
    width: 100px;
    z-index: 3;
}

#canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}
